
fieldset
{
    margin-top: 20px;
    padding: 5px;
}

fieldset legend
{
    font-weight: bold;
    color: #666666;
    padding: 0 10px 0 0;
    background-color: #ffffff;
}

input[type=submit],
input[type=button]
{
    border: 1px solid #999999;
    border-bottom-color: #cccccc;
    border-right-color: #cccccc;
    padding: 5px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 5px;
}

.form_line
{
    margin: 4px 0 4px 0;
}

.form_label
{
    clear: left;
    display: block;
    width: 180px;
    float: left;
}

.form_submit
{
    text-align: center;
}

.erreur
{
    border: 1px solid black;
    background-color: #FF6347;
    padding: 10px;
    color: black;
}
