
*
{
    margin: 0;
    padding: 0;
}

.info
{
    border: 1px solid black;
    background-color: #90EE90;
    padding: 0 10px;
    color: black;
    margin: 10px 0 20px 0;
}

body
{
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 11pt;
}

div.pagewidth
{
    width: 85%;
    margin: 0 auto;
}

div.header-wrapper
{
    background: #222 url('../images/header.png') repeat-x scroll left top;
}

/* Haut de la page */
div.header
{
    border-top: 10px solid #DC0303;
    padding: 40px 0 40px 10px;
    margin: 0 auto;
}

/* Barre de navigation */
div.nav-wrapper-outside
{
    height: 76px;
    display: block;
    background: #F1302E url('../images/nav-bg.png') repeat-x scroll left top;
}

div.nav-wrapper
{
    height: 76px;
    display: block;
    background: #F1302E url('../images/nav.png') repeat-x scroll left top;
}

div.nav
{
    height: 76px;
    display: block;
    background: transparent url('../images/nav-right.png') no-repeat scroll right top;
}

div.nav ul
{
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
    height: 76px;
    position: relative;
    background: transparent url('../images/nav-left.png') no-repeat scroll left top;
}

div.nav ul li
{
    display: block;
    float: left;
    padding: 7px 0px;
}

div.nav ul li a, div.nav ul li a:visited
{
    float: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 23px 20px;
    font-size: 0.8em;
    font-family: Tahoma, Arial, sans-serif;
    border-bottom: none;
    border-right: 1px solid #FD6864;
}

div.nav ul li a:hover
{
    text-decoration: underline;
}

/* Titres */
h1
{
    font-size: 3.2em;
    letter-spacing: -2px;
    padding-left: 10px;
    text-align: left;
    line-height: 1.0em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 a,
h1 a:hover,
h1 a:visited
{
    text-decoration: none;
    color: white;
    font-weight: normal;
}

h2
{
    text-align: left;
    padding: 0 0 10px 10px;
    font-size: 0.7em;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
}

h3
{
    font-size: 1.6em;
    font-weight: normal;
    color: #DE0505;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

h4
{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    padding: 7px 0;
    margin: 1em 0;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 12pt;
}

p
{
    margin: 1em 0;
    line-height: 1.9em;
    font-size: 0.9em;
    color: #555555;
}

ul
{
    padding-left: 30px;
    list-style: none;
}

code
{
    border: 1px solid #dddddd;
    color: #666666;
    display: block;
    padding: 10px;
    margin: 10px 0;
}

table
{
    width: 100%;
    margin-bottom: 10px;
}

table tr th, table tr td
{
    padding: 5px 10px;
}

table tr th
{
    background: #FA4F4C none repeat-x scroll bottom left;
    color: #ffffff;
    border-top: 2px solid #DC0303;
}

table tr td
{
    border-bottom: 1px solid #dddddd;
}

a,
a:visited
{
    color: #DE0505;
    text-decoration: none;
}

a:hover
{
    color: #AF0404;
    text-decoration: underline;
}

/* Contenu de la page */
div.page
{
    clear: both;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

div.page ul
{
    font-size: 0.95em;
    color: #333333;
}

div.page ul li
{
    padding: 2px 0;
}

div.page p
{
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    color: #444444;
}

div.page-wrap
{
    padding: 20px;
    clear: both;
    background-color: #fff;
}

div.content
{
    float: left;
    width: 70%;
    padding-right: 20px;
    border-right: 1px dashed #e0e0e0;
}

div.content ul
{
    font-size: 0.9em;
    list-style: disc;
}

div.content ul li
{
    padding-bottom: 5px;
}

div.sidebar
{
    padding-left: 20px;
    float: left;
    width: 25%;
}

/* Barre latérale */
div.sidebar p
{ 
    margin-bottom: 40px;
    padding: 2px;
}

div.sidebar ul
{
    margin: 0 0 40px 0;
    padding: 4px;
    font-size: 0.9em;
}

div.sidebar ul li
{
    padding: 8px 0;
}

/* Bas de la page */
div.footer-wrapper-outside
{
    background: #ccc url('../images/footer-bg.png') repeat-x scroll left top;
}

div.footer-wrapper
{
    background: transparent url('../images/footer-left.png') no-repeat scroll left top;
}

div.footer
{
    background: transparent url('../images/footer-right.png') no-repeat scroll right top;
    clear: both;
}

div.footer p
{
    text-align: center;
    color: #999;
    font-size: 0.75em;
    padding: 12px 0;
    margin: 0;
}

div.footer p a
{
    color: #999;
    border-bottom: none;
    text-decoration: underline;
}

*:focus
{
    outline: none;
}

.clear
{
    clear: both;
}

.question
{
    border: 1px solid #888;
    margin: 5px 0;
    padding: 5px;
}

.actions
{
    margin-left: 1em;
    font-size: 9pt;
}
