<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core">

    <f:view>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="stylesheet" type="text/css" href="/pgmshop/resources/css/style.css"/>
            <title><ui:insert name="title">PGM Shop</ui:insert></title>
        </head>

        <body>

            <div id="container">

                <div id="header">
                    <div id='header_left'>pgmshop logo</div>
                    <div id='header_right'>

                    </div>
                </div>

                <div id="main">
                    <!-- Menu top start -->
                    <h:form>
                        <div id="menutop">
                            <h:commandLink styleClass="menuitem" action="main" value="Accueil" />
                            <c:choose>
                                <c:when test="${empty sessionScope.account}">
                                    <h:commandLink styleClass="menuitem" action="signon" value="Se connecter" />
                                </c:when>
                                <c:otherwise>
                                    <h:commandLink styleClass="menuitem" action="showaccount" value="Mon compte" />
                                    <h:commandLink styleClass="menuitem" action="#{account.doSignOff}" value="Se déconnecter" />
                                    <h:commandLink styleClass="menuitem" action="showcart" value="Mon panier" />
                                    <h:commandLink styleClass="menuitem" action="cart.checked.out" value="Passer commande" />
                                </c:otherwise>
                            </c:choose>
                            <h:commandLink styleClass="menuitem" action="about" value="A propos" />
                        </div>
                    </h:form>
                    <!-- Menu top end -->
                    <!-- Page start -->
                    <div id="page">
                        <div id="menuleft">
                            <div class='item'>
                                <div class='head'>Catégories</div>
                                <div class='content'>
                                    <h:form>
                                        <ul>
                                            <c:forEach var="category" items="${categories.findCategories()}">
                                                <li class='menuitem'>
                                                    <h:commandLink action="#{catalog.doFindProducts}">
                                                        <h:outputText value="${category.description}" />
                                                        <f:param name="categoryId" value="${category.id}" />
                                                    </h:commandLink>
                                                </li>
                                            </c:forEach>
                                        </ul>
                                    </h:form>
                                </div>
                            </div>
                        </div>

                        <!-- Real stuff starts here ! -->
                        <div id="pagecontent">
                            <ui:insert name="content" />
                        </div>
                        <!-- Real stuff ends here -->


                    </div>

                    <!-- Page end -->

                </div>
                <div id="footer">
                    Ce site est propulsé par une application J2EE, soyez tolérants sur les performances :-).
                </div>
            </div>

        </body>

    </f:view>
</html>