<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="template/default.xhtml">

        <ui:define name="title">À propos de nous</ui:define>
        <ui:define name="content">
            <h:messages layout="table" styleClass="error"/>


            <div class="item">
                <div class="head">À propos de nous</div>
                <div class="content">
                    <p>Nous sommes une bande joyeux compères qui aimons coder du
                    Java parce qu'on trouve que c'est un langage qui est trop
                    bien.</p>

                    <p>En outre, nous aimons les girafes et les gaufres, si vous
                    avez un moyen quelconque de nous donner à titre gracieux l'une de
                    ces deux choses nous vous en seront reconnaissants :-).</p>

		    <p>Cette application a été codée par :</p>
		    <ul>
			    <li>Ionuţ Iortoman</li>
			    <li>Rémy Léone</li>
			    <li>Marc van der Wal</li>
		    </ul>
                </div>
            </div>

            <div class="item">
                <div class="head">À propos de cette application</div>
                <div class="content">
		    Cette application pgmshop a pour but de permettre aux
		    gamerz d'acheter tout leur matos. En outre,
		    ça nous permet d'acheter des tickets pour 
                    aller au zoo et d'aller aussi à Darty pour acheter un 
                    gaufrier.
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
