<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="template/default.xhtml">

        <ui:define name="title">Passer la commande</ui:define>
        <ui:define name="content">
            <h:messages layout="table" styleClass="error"/>

            <h:form>
                <div class="item">
                    <div class="head">Informations personnelles</div>
                    <div class="content">
                        <h:panelGrid columns="2">
                            <h:outputText value="Prénom :"/>
                            <h:inputText value="#{cart.customer.firstname}" readonly="true"/>

                            <h:outputText value="Nom :"/>
                            <h:inputText value="#{cart.customer.lastname}" readonly="true"/>

                            <h:outputText value="Adresse e-mail :"/>
                            <h:inputText value="#{cart.customer.email}" readonly="true"/>
                        </h:panelGrid>
                    </div>
                </div>

                <div class="item">
                    <div class="head">Adresse de livraison</div>
                    <div class="content">

                        <h:panelGrid columns="2">
                            <h:outputText value="*Adresse :"/>
                            <h:inputText value="#{cart.deliveryAddress.street}"/>

                            <h:outputText value="*Code postal :"/>
                            <h:inputText value="#{cart.deliveryAddress.zipcode}"/>

                            <h:outputText value="*Ville :"/>
                            <h:inputText value="#{cart.deliveryAddress.city}"/>

                            <h:outputText value="Région/État :"/>
                            <h:inputText value="#{cart.deliveryAddress.state}"/>

                            <h:outputText value="*Pays :"/>
                            <h:inputText value="#{cart.deliveryAddress.country}"/>

                        </h:panelGrid>
                    </div>
                </div>

                <div class="item">
                    <div class="head">Carte bancaire</div>
                    <div class="content">
                        <h:panelGrid columns="2">
                            <h:outputText value="*Numéro de carte bancaire :"/>
                            <h:inputText value="#{cart.creditCard.creditCardNumber}"/>

                            <h:outputText value="*Type :"/>
                            <h:selectOneMenu value="#{cart.creditCard.creditCardType}">
                                <f:selectItem itemValue="Visa" itemLabel="Visa"/>
                                <f:selectItem itemValue="Master Card" itemLabel="Master Card"/>
                                <f:selectItem itemValue="CB" itemLabel="CB" />
                                <f:selectItem itemValue="American Express" itemLabel="American Express"/>
                            </h:selectOneMenu>

                            <h:outputText value="*Date d'expiration (MM/AA):"/>
                            <h:inputText value="#{cart.creditCard.creditCardExpDate}"/>
                        </h:panelGrid>
                    </div>

                    <h:commandButton value="Envoyer" action="#{cart.confirmOrder}" type="submit"/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>