<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core">

    <f:view>
        <ui:composition template="template/default.xhtml">
            <ui:define name="title">pgmshop - Accueil</ui:define>

            <ui:define name="content">

                <h:messages layout="table" styleClass="error"/>

                <div class='item'>
                    <div class='head'>Bienvenue au PGM Shop !</div>
                    <div class='content'>
                        <p>Ici vous trouverez tout le matériel incontournable afin de prétendre au
                            titre de <strong>P</strong>ro <strong>G</strong>ame <strong>M</strong>aster :
                            claviers, souris, pour commencer, ainsi que la mémoire vive et le stockage
                            dont vous aurez besoin pour doper votre machine.</p>
                        <p><strong>Sportivité, respect de l'adversaire</strong> ;
                            le reste, vous connaissez !</p>
                        <hr />
                        <p>Sponsor de l'<strong><a href="http://www.egs2012.com">ENSIIE Game Show 2012</a></strong>.
                            Venez nombreux !</p>
                    </div>
                </div>
                <div class='item'>
                    <div class='head'>Pénurie de disques dur</div>
                    <div class='content'>
                        Comme vous le savez probablement, les récentes inondations en Thaïlande ont
                        sérieusement endommagé les stocks de nos fournisseurs de disques dur.
                        C'est pourquoi nous avons été contraints d'augmenter les prix sur nos derniers
                        Eastern Digital.  Nous vous tiendrons au courant de l'évolution de la situation.
                    </div>
                </div>
            </ui:define>

        </ui:composition>
    </f:view>
</html>