<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">


    <ui:composition template="template/default.xhtml">
        <ui:define name="titre">Commande confirmée !</ui:define>
        <ui:define name="content">
            <h:messages layout="table" styleClass="error" showDetail="true"/>

            <div class="item">
                <div class="head">
                    <h:outputText value="Votre commande est confirmée : " />
                    <h:outputText value="#{cart.order.id}"/>
                </div>

                <div class="content">
                    <p><b>Votre numéro de commande est : <h:outputText value="#{cart.order.id}"/></b></p>

                    <h:form>
                        <h:dataTable value="#{cart.order.orderLines}" var="orderLine">
                            <h:column>
                                <b><h:outputText value="#{orderLine.item.product.name}"/></b>
                                <br/>
                                <h:outputText value="#{orderLine.item.name}"/>
                            </h:column>
                            <h:column>
                                <h:outputText value="#{orderLine.quantity}"/>
                            </h:column>
                            <h:column>
                                x
                                <h:outputText value="#{orderLine.item.unitCost}">
                                    <f:convertNumber pattern="# ### ##0.00 €" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                = <h:outputText value="#{orderLine.subTotal}">
                                    <f:convertNumber pattern="# ### ##0.00 €" />
                                </h:outputText>
                            </h:column>
                        </h:dataTable>
                        <br/>

                        <div class="zoneButton">
                            Total :
                            <h:outputText value="#{cart.order.total}">
                                <f:convertNumber pattern="# ### ##0.00 €" />
                            </h:outputText>
                        </div>
                    </h:form>

                    <p>Merci d'avoir fait vos achats chez PGM Shop !</p>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
