<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="template/default.xhtml">
        <ui:define name="content">
            <h2>Items found for keyword :
                <h:outputText value="#{catalog.keyword}"/>
            </h2>

            <h:messages layout="table" styleClass="error"/>

            <h:form>
                <h:dataTable value="#{catalog.items}" var="item">
                    <h:column>
                        <h:commandLink action="#{catalog.doFindItem}">
                            <h:outputText value="#{item.name}"/>
                            <f:param name="itemId" value="#{item.id}"/>
                        </h:commandLink>
                    </h:column>
                    <h:column>
                        <i>(
                            <h:outputText value="#{item.product.category.name}"/>
                            -
                            <h:outputText value="#{item.product.name}"/>
                            )</i>
                    </h:column>
                    <h:column>
                        <h:outputText value="#{item.unitCost}"/>
                        $
                    </h:column>
                </h:dataTable>
            </h:form>

        </ui:define>
    </ui:composition>
</html>
