<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


    <ui:composition template="template/default.xhtml">
        <ui:define name="title">pgmshop - Products</ui:define>

        <ui:define name="content">            
            <h:messages layout="table" styleClass="error"/>
            <div class='item'>
                <div class="head">
                    <h:outputFormat value="Catégorie : {0}" >
                        <f:param value="#{catalog.category.description}"/>
                    </h:outputFormat>
                </div>
                <div class="content">      
                    <h:form>
                        <h:dataTable value="#{catalog.products}" var="product" columnClasses="first,price,add2cart">
                            <h:column>
                                <h:commandLink action="#{catalog.doFindItems}">
                                    <h:outputText value="#{product.name}"/>
                                    <f:param name="productId" value="#{product.id}"/>
                                </h:commandLink>
                                <br/>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>
            </div>
        </ui:define>

    </ui:composition>
</html>