<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <ui:composition template="template/default.xhtml">
        <ui:define name="titre">pgmshop - Mise à jour du compte</ui:define>
        <ui:define name ="content">
            <h2>Mise à jour du compte utilisateur</h2>
            <h:messages layout="table" styleClass="error"/>
            <h:form>
                <div class="zoneEditor">
                    <h3>Informations personnelles</h3>

                    <h:panelGrid columns="2">
                        <h:outputText value="Login :"/>
                        <h:inputText value="#{account.user.userName}" readonly="true"/>

                        <h:outputText value="Prénom :"/>
                        <h:inputText value="#{account.customer.firstname}"/>

                        <h:outputText value="Nom :"/>
                        <h:inputText value="#{account.customer.lastname}"/>

                        <h:outputText value="Email :"/>
                        <h:inputText value="#{account.customer.email}"/>

                        <h:outputText value="Telephone :"/>
                        <h:inputText value="#{account.customer.telephone}"/>

                    </h:panelGrid>
                </div>

                <div class="zoneEditor">
                    <h3>Adresse</h3>

                    <h:panelGrid columns="2">
                        <h:outputText value="Adresse :"/>
                        <h:inputText value="#{account.homeAddress.street}"/>

                        <h:outputText value="Code postal :"/>
                        <h:inputText value="#{account.homeAddress.zipcode}"/>

                        <h:outputText value="Ville :"/>
                        <h:inputText value="#{account.homeAddress.city}"/>

                        <h:outputText value="Région :"/>
                        <h:inputText value="#{account.homeAddress.state}"/>

                        <h:outputText value="Pays :"/>
                        <h:inputText value="#{account.homeAddress.country}"/>

                    </h:panelGrid>
                </div>

                <div class="zoneButton">
                    <h:commandButton value="Soumettre" 
                                     action="#{account.doUpdateAccount}" 
                                     type="submit"/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>